*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    padding: 63px 128px 25px 128px;
}
.main_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_items{
    display: flex;
    flex-direction: row;
    gap: 150px;
}
.nav_cont{
    display: flex;
    gap: 60px;
    
    
}
.page{
    text-decoration: none;
     color: black;
}

main{
   padding: 63px 128px 25px 128px; 
}

.big_items{
    display: flex;
    flex-direction: row;
    
    margin-top: 10px;
}
.self{
    width: 70%;
}
.hello{
    margin-bottom: 10px;
}
.picture{
    width: 30%;
}

.btn{
    display: flex;
    gap: 20px;
    margin-top: 50px;
    
    /* height: 90px; */

}
.first_btn{
    color: white;
    background-color: black;
    padding: 10px 10px ;
}
.second_btn{
    padding: 8px 8px;
    background-color: white;
    border-color: gray;
    outline: none;
}
.paragraph{
    margin-top: 80px;
}
.some{
    margin-top: 15px;
}

.deve{
    background-color: pink;
}